<!doctype html>
<html lang="en">
  <head>
  	<title>API test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
                    {% if he.is_authenticated %}
                        <a href="/users/{{ he.id }}" class="img logo rounded-circle mb-5" style="background-image: url({{ he.avatar(120) }});"></a>
                    {% else %}
                        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{ url_for('static', filename='images/logo.jpg') }});"></a>
                    {% endif %}

	        <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/">Home</a>
                </li>
                  <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                        {% for cat in categories%}
                            <li>
                                <a href="/a/{{ cat }}">{{ cat }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                  </li>

                  {% if posts %}
                      <li>
                      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posts</a>
                      <ul class="collapse list-unstyled" id="pageSubmenu">
                          {% for post in posts %}
                              <li>
                                <a href="/posts/{{ post.id }}">Post #{{ post.id }} - {{ post.title }}</a>
                              </li>
                          {% endfor %}
                      </ul>
                      </li>
                  {% endif %}
                  <li>
                  <a href="/about">About us</a>
                  </li>
                  <li>
                  <a href="/cookie_test">Cookie test</a>
                  </li>
	        </ul>

	        <div class="footer">
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li> |
                {% if he.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/{{ he.id }}">Your profile</a>
                    </li> |
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li> |
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div id="liveAlertPlaceholder">
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            {{ message }}
                            <button style="align:right;" id="remove-alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">╳</button>
                            <script type="text/javascript">
                                var closeAlert = document.getElementById('remove-alert')

                                if (closeAlert) {
                                    closeAlert.addEventListener('click', function() {
                                        remove()
                                    })
                                }
                                function remove() {
                                    var div = document.getElementById("liveAlertPlaceholder");
                                    div.parentNode.removeChild(div);
                                }
                            </script>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
</div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>