{% extends "index.html" %}


{% block content %}

<h2 class="mb-4">This is my API test app</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% if he.is_authenticated %}
    <a href="/create_post" class="btn btn-secondary">Добавить пост</a>
{% endif %}
<br>
<br>
{% if posts %}
    <h2>Записи в блоге:</h2>
{% endif %}
<ul style="margin-top:10px;">
{% for post in posts %}
    {% include("post.html") %}
    {% if show_buttons[loop.index0] %}
        <div class="form-group">
            <a href="/posts/{{ post.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/delete_post/{{ post.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>

    {% endif %}
<br>
{% endfor %}
</ul>


{% endblock %}